/* Cover component styling */
.cover-container {
  background-color: darkred;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1.2vw;
  transition: 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-container:hover {
  scale: 1.05;
}

.cover-container:active {
  filter: brightness(75%);
  scale: 1;
}

.cover {
  margin: 0;
  text-align: center;
}