/* Slot component styling */
.slot-container {
  height: 9vw;
  width: 12vw;
  position: relative;
  border-radius: 1.2vw;
}

.slot-container:hover {
  cursor: pointer;
}

.new-page-button2 {
    font-family: 'Times New Roman', Times, serif;
    font-variant: small-caps;
    font-size: large;
    color: white;

    background-color: rgba(139, 0, 0, 0.8);
    width: 70%;
    height: 70%;

    position: absolute;
    top: 15%;
    left: 15%;
    border: none;
    border-radius: 1vw;
    transition: 0.15s;
}