/* Import font used in header */
@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');

/* App component styling */
.header-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.header {
    /* font-size: 3.7vw;
    font-family: Nosifer; */
    grid-column-start: 2;
    grid-column-end: 5;
}

/* .glow {
    color: darkred;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px darkred, 0 0 40px darkred, 0 0 50px darkred, 0 0 60px darkred, 0 0 70px darkred;
} */

.resetButton-container {
    grid-column-start: 5;
    grid-column-end: 6;
}

.app-container {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.images-container {
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.points-category {
    margin-left: 1vw;
}

.points-container {
    max-width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.points-slots {
    background-color: rgba(0, 0, 0, 0.6);
    border: 0.1vw solid white;

    height: 8.8vw;
    width: 12vw;
    position: relative;
    border-radius: 1.2vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
}

.points-slots input {
    width: 50%;
    background-color: transparent;
    border: none;
    border-bottom: 0.1vw solid white;
    
    color: white;
    text-align: center;
    font-size: large;
}

.points-slots h3 {
    margin: 0;
    text-align: center;
}

.points-buttons {
    display: flex;
    gap: 0.5vw;
    justify-content: center;
}

.points-button {
    background-color: transparent;
    color: white;
    border: 0.1vw solid white;
    border-radius: 0.5vw;
    padding: 0.5vw 1vw;
    font-size: 0.8vw;
    cursor: pointer;
    transition: 0.15s;
}

.points-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
}

.points-button:active {
    transform: scale(0.95);
}

